.footer__copyright {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-self: center;
    position: absolute;
    right: 0;
}

@media screen and (min-width:1280px) {
    .footer__copyright {
        width: 186px;
        height: 16px;
    }
}