.place__website-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    align-self: end;
    transition: opacity 0.5s;
}

.place__website-link:hover {
    opacity: 80%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__website-link {
        width: 100%;
    }
}